#navHero{
    // border: 1px solid red;
    margin-top: 9px;
    min-height: 745px;
    background-image: url('../../assets//NavHero.svg');
    background-size: cover;
    max-width: 100%;
    display: flex;
    padding: 130px 50px 0;

    .navHero__left{
        // border: 1px solid teal;
        flex: 0.6;
        z-index: 1000;

        .navHero__leftContainer{
            // border: 1px solid red;

            .navHero__leftHeader{
                font-family: 'Inter', 'sans-serif';
                font-weight: 800;
                font-size: 64px;
                line-height: 96px;
                color: #060028;
                margin-bottom: 30px;
            }

            .navHero__leftText{
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 36px;
                color: #4D4E4F;
                margin-bottom: 30px;
            }

            .navHero__leftButton{
                background: #3861FB;
                border-radius: 5px;
                color: white;
                font-family: 'Inter';
                font-weight: 600;
                font-size: 20px;
                line-height: 39px;
                padding: 18px 30px;
                border: none;
                cursor: pointer;

                &:hover{
                    opacity: 0.95;
                    background: #2e50cc;
                }
            }
        }
    }

    .navHero__right{
        // border: 1px solid orange;
        flex: 0.4;
        z-index: 1000;
        text-align: right;

       .navHero__rightImg{

       } 
    }
}