.navDrawer{
    background: #F7F8FB;
    height: 100vh;
    // border: 1px solid red;

    .navDrawer__text{
        // font-family: 'Quicksand';
        font-weight: 700;
        font-size: 20px;
        line-height: 25px;
        // color: #000000;
    }

    .navDrawer__app{
        margin-top: 55px;
    }

    .navDrawer__app,
    .navDrawer__birthday,
    .navDrawer__profile{
        margin-bottom: 25px;
    }

    .navDrawer__logout{
        margin-top: 30px;
        color: #D70909;
    }
}

