@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');


#login{
    display: flex;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;

    .login__left{
        flex: 0.5;
        display: flex;
        min-height: 100vh;
        // border: 1px solid red;

        @media screen and (max-width: 768px){
            flex: 1;
        }

        .login__leftHeader{
            position: fixed;
            top: 33px;
            left: 55px;
        }

        .login__leftHeaderFormContainer{
            // border: 2px solid green;
            margin-inline: auto;
            width: 90%;

            @media screen and (min-width:768px) {
                max-width: 70%;
            }

            .login__imgContainer{
                // border: 1px solid red;
                text-align: center;
                background:#F7FCF6;
                padding: 42px 0px 24px;
                color: #0A55E4;

                img{
                    width: 174px;
                    height: 174px;
                    object-fit: contain;
                    margin-bottom: 12px;
                }

                & > .login__nfcs{
                    // font-family: 'Poppins';
                    font-weight: 600;
                    font-size: 20.0538px;
                    line-height: 30px;
                    color: #0A55E4;
                }

                .login__name{
                    // font-family: 'Poppins';
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 16px;
                }

            }

            .login__leftForm{
                margin-bottom: 30px;
                // border: 1px solid red;

                .login__formWelcome{
                    // font-family: 'Quicksand';
                    margin: 45px 0px 10px;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 19.6421px;
                    line-height: 25px;
                    color: #000000;
                }

                .login__formText{
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 219.52%;
                    color: #555556;
                    margin: 0 auto 22.5px;
                }

                .login__formDiv{
                    // border: 1px solid red;

                    .input-field{
                        width: 100%;
                        background: #FFFFFF;
                        border-radius: 5px;
                        outline: none;
                        font-size: 18px;
                        // padding-left: 10px;
                        // height: 60px;
                        // border: 1px solid #3861FB;

                        @media screen and (max-width: 500px){
                            width: 100%;
                        }
                     
                        &::placeholder{
                            font-weight: 500;
                            font-size: 13.55px;
                            line-height: 17px;
                            color: rgba(136, 129, 129, 0.95);
                        }
                    }
                }

                .login__forgotPassword{
                    text-align: right;
                    // color: red;
                    // font-family: 'Quicksand';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13.55px;
                    line-height: 17px;
                    margin: 10px 0px 54px;
                }

                .login__button{
                    width: 100%;
                    background: #0A55E4;
                    border-radius: 5px;
                    padding: 8px 0;
                    // font-family: 'Quicksand';
                    // font-style: normal;
                    font-weight: 700;
                    font-size: 20.0538px;
                    line-height: 25px;
                    color: #FFFFFF;
                    cursor: pointer;
                    border: none;
                }                
            }

            .login__RegisterLink{
                text-align: center;

                @media screen and (max-width: 500px) {
                    margin-bottom: 30px;
                }
            }

        }

      
    }

    .login__right{
        flex: 0.5;
        background-image: url('../assets/loginBackground.png');
        background-size: cover;
        max-width: 100%;
       
        
        @media screen and (max-width: 768px) {
            display: none;
        }

        img{
            max-width: 100%;
            height: auto;
        }
    }
}