.scoreBoard{
    background: #F8F8F8;
    // border: 3px solid red;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    // padding: 103px 115px 71px;

    // @media screen and (max-width: 1000px) {
    //     padding: 50px 5% 50px;
    // }

    &__header{
        background: white;
        text-align: center;
        padding: 20px 0px;
        border-radius: 25px;
        box-shadow: 15.3354px 15.3354px 15.3354px rgba(0, 0, 0, 0.1), 7.66768px 7.66768px 59.4775px rgba(0, 0, 0, 0.5);

        &Text{
            font-weight: 500;
            font-size: 21.4695px;
            line-height: 26px;
            letter-spacing: -0.236165px;
            color: rgba(30, 30, 30, 0.85);

            @media screen and (max-width: 768px) {
                
            }
        }

        &SubText{
            font-weight: 600;
            font-size: 26.0701px;
            line-height: 34px;
            color: #1E1E1E;

            @media screen and (max-width: 768px) {
                font-size: 1.2rem;
            }
        }
    }

    &__body{
        margin-top: 50px;
        // border: 1px solid black;
        padding: 0 5%;
    }
}