.testimonials{
    // min-height: 100vh;
    margin-top: 30px;
    padding: 102px 180px 115px;
    background: #F8F5FF;
    // border: 1px solid red;

    &__header{
        font-family: serif;
        font-weight: 700;
        font-size: 48px;
        line-height: 54px;
        letter-spacing: 0.008em;
        color: var(--app-primary-color);
        margin-bottom: 73px;
    }

    &__container{
        // border: 1px solid red;
        display: flex;
        gap: 40px;
        flex-wrap: wrap;

        .testimonial{
            padding-top: 22px;
            padding-left: 30px;
            // border: 1px solid black;
            background: #FFFFFF;
            box-shadow: 8px 8px 16px rgba(142, 152, 168, 0.08);
            border-radius: 10px;
            height: 191px;
            width: 30%;

            &__header{
                display: flex;
                // border: 1px solid red;
                width: fit-content;

                .testimonial__details{
                    p{
                        font-family: sans-serif;
                        font-weight: 700;
                        font-size: 20px;
                        line-height: 25px;
                        letter-spacing: 0.008em;
                    }

                    small{
                        color: #4318FFE5;
                        font-family: sans-serif;
                        font-weight: 450;
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: 0.008em;
                    }
                }

                img{
                    margin-right: 8px;
                }
            }

            &__body{
                // border: 1px solid red;
                width: 60%;
                margin-top: 10px;

                p{
                    font-family: sans-serif;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.008em;
                }
            }
        }
    }
}