// HEADER FONT
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500;700&display=swap');
// font-family: 'Cormorant Garamond', serif;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
// font-family: 'Poppins', sans-serif;


.LPHero{
    // border: 2px solid purple;
    font-family: 'Poppins', sans-serif;
    padding: 184px 115px 155.87px;
    display: flex;

    .LPHero__left{
        flex: 0.6;

        .LPHero__leftHeader{
            font-family: serif; // cant find font o
            font-weight: bolder;
            font-size: 48px;
            line-height: 54px;
            letter-spacing: 0.008em;
            color: #111111;

            span{
                color: var(--app-primary-color);
            }
        }

        .LPHero__leftBody{
            font-family: sans-serif; // cant find font too
            width: 60%;
            font-weight: 400;
            font-size: 24px;
            line-height: 118%;
            letter-spacing: 0.04em;
            color: #000000;
            margin-top: 30px;
            margin-bottom: 32.5px;
        }

        .LPHero__leftButton{
            background: var(--app-primary-color);
            color: white;
            padding: 30px 65px;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            font-family: sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            letter-spacing: 0.008em;
        }
    }

    .LPHero__right{
        flex: 0.4;
    }

    .LPHero__right{
        // border: 2px solid black;
        img{
            width: 100%;
            height: auto;
        }
    }
}