.comingSoon{
    background: black;
    color: white;
    
    &__animated{
        display: flex;
        animation: RightToLeft 10s infinite Linear;

        p{
            border: 1px solid red;
            width: 200px;
        }
    }
}

@keyframes RightToLeft{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-50%);
    }
}